body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.image-generator-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.dalle {
  font-weight: bold;
}

.prompt-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.generate-btn {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.generate-btn:hover {
  background-color: #0056b3;
}

.image-container {
  margin-top: 20px;
  text-align: center;
}

.generated-image {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: 0 auto;
}

.download-btn {
  display: none;
  margin-top: 20px;
  text-align: center;
  background-color: #28a745;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.download-btn:hover {
  background-color: #218838;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #111; /* Dark background for contrast */
  color: #ffffff; /* White text */
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

